<template>
  <div>
    <h1 class="page-title">Expenses details for {{path}}</h1>
    <div class="button-wrapper">
      <a class="previous" @click="$router.push('/')">&laquo; Home</a>
    </div>
    <div class="container-table100">
      <div class="wrap-table100">
        <div class="table100">
          <table>
            <thead>
              <tr class="table100-head">
                <th class="column1">Item</th>
                <th class="column2">Price</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(purchase, pindex) in spendingTable" v-bind:key="pindex">
                <template v-if="purchase.length===1">
                  <td colspan="2" class="column-full-width">{{purchase[0]}}</td>
                </template>
                <template v-else>
                  <td
                    v-for="(item, iindex) in purchase"
                    v-bind:key="iindex"
                    :class="'column'+(iindex+1)"
                  >{{item}}</td>
                </template>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Category",
  data() {
    return {};
  },
  computed: {
    spendingTable() {
      let spendingByCategory = this.$store.getters.ALLSPENDING.filter(
        spending => spending.category.toLowerCase() === this.path
      );
      let spendingOutput = [];
      let dateArrayflags = [];

      spendingByCategory.sort(
        (a, b) => new Date(a.transactionTime) - new Date(b.transactionTime)
      );

      let formatterUSD = new Intl.NumberFormat("en-US", {
        style: "currency",
        currency: "USD"
      });

      let formatterEUR = new Intl.NumberFormat("et-EE", {
        style: "currency",
        currency: "EUR"
      });

      spendingByCategory.forEach((e, i) => {
        spendingByCategory[i].date = this.$moment(
          new Date(spendingByCategory[i].transactionTime)
        ).format("DD/MM/YYYY");
        if (spendingByCategory[i].currency === "€") {
          spendingByCategory[i].amount = formatterEUR.format(
            parseFloat(spendingByCategory[i].amount)
          );
        } else {
          spendingByCategory[i].amount = formatterUSD.format(
            parseFloat(spendingByCategory[i].amount)
          );
        }
        if (dateArrayflags.find(x => x === e.date)) {
          let arrToAdd = [e.description, e.amount];
          spendingOutput.push(arrToAdd);
        } else {
          let arrToAdd = [e.description, e.amount];
          dateArrayflags.push(e.date);
          spendingOutput.push([e.date]);
          spendingOutput.push(arrToAdd);
        }
      });

      return spendingOutput;
    },
    path() {
      if (this.$route.params.category) {
        return this.$route.params.category.toLowerCase();
      }
    }
  },
  mounted() {}
};
</script>

<style scoped>
/* ------------------------------------ */
a {
  margin: 0px;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
  cursor: pointer;
}

a:focus {
  outline: none !important;
}

a:hover {
  text-decoration: none;
  background-color: #ddd;
  color: black;
}

.button-wrapper {
  margin: auto;
  text-align: left;
  max-width: 900px;
}
.previous {
  background-color: #c8c8c8;
  color: black;
}

/* ------------------------------------ */
p {
  margin: 0px;
}

ul,
li {
  margin: 0px;
  list-style-type: none;
}

/* ------------------------------------ */
input {
  display: block;
  outline: none;
  border: none !important;
}

textarea {
  display: block;
  outline: none;
}

textarea:focus,
input:focus {
  border-color: transparent !important;
}

/* ------------------------------------ */
button {
  outline: none !important;
  border: none;
  background: transparent;
}

button:hover {
  cursor: pointer;
}

iframe {
  border: none !important;
}

/*//////////////////////////////////////////////////////////////////
[ Table ]*/

.limiter {
  width: 100%;
  margin: 0 auto;
}

.container-table100 {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 5px 0px;
}

.wrap-table100 {
  width: 900px;
}

table {
  border-spacing: 1;
  border-collapse: collapse;
  background: white;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  position: relative;
}
table * {
  position: relative;
}
table td,
table th {
  padding-left: 8px;
}
table thead tr {
  height: 60px;
  background: #36304a;
}
table tbody tr {
  height: 50px;
}
table tbody tr:last-child {
  border: 0;
}
table td,
table th {
  text-align: center;
}
table td.l,
table th.l {
  text-align: right;
}
table td.c,
table th.c {
  text-align: center;
}
table td.r,
table th.r {
  text-align: center;
}

.table100-head th {
  font-size: 18px;
  color: #fff;
  line-height: 1.2;
  font-weight: unset;
}

tbody tr {
  font-size: 15px;
  color: #808080;
  line-height: 1.2;
  font-weight: unset;
}

.column1 {
  width: 50%;
  padding-left: 40px;
}

.column2 {
  width: 50%;
}

.column-full-width {
  text-align: center;
  background-color: #c8c8c8;
  color: black;
}
</style>