<template>
  <div class="home">
    <h1 class="page-title">Expenses overview</h1>
    <Chart />
  </div>
</template>

<script>
// @ is an alias to /src
import Chart from "@/components/Chart.vue";

export default {
  name: "home",
  components: {
    Chart
  },
  data() {
    return {};
  },
  methods: {
  },
  mounted() {
    this.axios
      .get("https://www.mocky.io/v2/5e3752703200008300ae3dd0")
      .then(response => {
        this.$store.dispatch("SAVE_ALLLSPENDING", response.data);
      });
  }
};
</script>

<style scoped>
a {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
}
.button-wrapper {
  margin: auto;
  text-align: left;
  max-width: 900px;
}
.previous {
  background-color: #c8c8c8;
  color: black;
}
</style>
