<template>
  <div>
    <div>
      <svg id="svg" />
    </div>
  </div>
</template>

<script>
import * as d3 from "d3";
import _ from "lodash";

export default {
  name: "Chart",
  data() {
    return {
      chart: null,
      dataset: {
        children: []
      }
    };
  },
  methods: {
    goToCategory(d) {
      this.$router.push('/' + d.data.Name.substring(0, d.r / 3).toLowerCase())
    },
    removeChart() {
      d3.selectAll("g").remove();
    },
    renderChart() {
      let self = this;

      d3.selectAll("g").remove();

      const container = d3.select("#svg");

      let formatter = new Intl.NumberFormat("et-EE", {
        style: "currency",
        currency: "EUR"
      });

      let diameter

      if (window.screen.width > 800) {
        diameter = 600
      } else {
        diameter = 365
      }

      let color = d3
        .scaleOrdinal()
        .range([
          "red",
          "green",
          "blue",
          "#6b486b",
          "#a05d56",
          "#d0743c",
          "#ff8c00"
        ]);

      let bubble = d3
        .pack(this.dataset)
        .size([diameter, diameter])
        .padding(1.5);

      let svg = container
        .attr("width", diameter)
        .attr("height", diameter)
        .attr("class", "bubble");

      let nodes = d3.hierarchy(this.dataset).sum(function(d) {
        return d.Count;
      });

      let node = svg
        .selectAll(".node")
        .data(bubble(nodes).descendants())
        .enter()
        .filter(function(d) {
          return !d.children;
        })
        .append("g")
        .attr("class", "node")
        .attr("transform", function(d) {
          return "translate(" + d.x + "," + d.y + ")";
        });

      node
        .append("circle")
        .attr("r", function(d) {
          return d.r;
        })
        .style("fill", function(d, i) {
          return color(i);
        })
        .attr("class", "link")
        .on("click", function(d) {
          self.goToCategory(d)
        });

      node
        .append("text")
        .attr("dy", ".2em")
        .style("text-anchor", "middle")
        .text(function(d) {
          return d.data.Name.substring(0, d.r / 3);
        })
        .attr("font-family", "sans-serif")
        .attr("font-size", function(d) {
          return d.r / 5;
        })
        .attr("fill", "white")
        .attr("class", "link")
        .on("click", function(d) {
          self.goToCategory(d)
        });

      node
        .append("text")
        .attr("dy", "1.3em")
        .style("text-anchor", "middle")
        .text(function(d) {
          return formatter.format(d.data.Count);
        })
        .attr("font-family", "sans-serif", "Gill Sans MT")
        .attr("font-size", function(d) {
          return d.r / 5;
        })
        .attr("fill", "white")
        .attr("class", "link")
        .on("click", function(d) {
          self.goToCategory(d)
        });

      d3.select(self.frameElement).style("height", diameter + "px");
    }
  },
  mounted() {
    this.$store.watch(
      state => state.spending,
      () => {
        this.$store.getters.ALLSPENDING.forEach((e, i) => {
          if (this.dataset.children.find(x => x.Name === e.category)) {
            this.dataset.children.find(
              x => x.Name === e.category
            ).Count += parseFloat(e.amount);
          } else {
            this.$set(this.dataset.children, this.dataset.children.length, {
              Name: e.category,
              Count: parseFloat(e.amount)
            });
          }
        });
        this.renderChart();
      }
    );
  }
};
</script>

<style>
.link {
  cursor: pointer;
}
</style>